@charset "UTF-8";
html{
    font-size: 0.5208vw;
    scroll-behavior: smooth;
}

*:focus {
    outline: none;
}

body, h1, h2, h3, h4, h5, p, ul{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Zen Kaku Gothic Antique", "メイリオ", 'Meiryo', "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    overflow-x: hidden;
    color: #38383C;
}

ul{
    list-style: none;
}

h1{
    line-height: 1;
}

h2{
    font-family: "Brother 1816";
    line-height: 1;
    font-weight: normal;
}

h3{
    font-size: 1.4rem;
}

a{
    text-decoration: none;
}

p{
    font-size: 2.2rem;
}

.pc_only{
    display: block;
}

.pc_flex{
    display: flex;
}

.pc_inline{
    display: inline;
}

.sp_flex{
    display: none;
}

.sp_inline{
    display: none;
}

.sp_only{
    display: none;
}

.mintyo{
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

/* header */
header{
    height: 5rem;
    background: #38383C;
}

@media screen and (max-width: 767px){
    html{
        font-size: 2.667vw;
    }

    p{
        font-size: 1.4rem;
    }

    .pc_only{
        display: none !important;
    }
    
    .sp_only{
        display: block;
    }

    .pc_flex{
        display: none !important;
    }

    .sp_flex{
        display: flex;
    }

    .pc_inline{
        display: none;
    }

    .sp_inline{
        display: inline;
    }

    header{
        height: 2.5rem;
    }

    h2{
        font-size: 1.8rem;
        color: #38383C;
    }

    h2 small{
        font-size: 1.2rem;
        color: #876A20;
    }

    .top_button{
        width: calc(100% - 2.3rem);
        display: block;
        color: white;
        padding: .4rem 0 .4rem 2.3rem;
        background: linear-gradient(to bottom, #1E1E1E, #303030, #1E1E1E);
    }
}